@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  margin: 0;
  font-family: "Comfortaa";
  color: #333;
}

.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

/* Navbar */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

/* Table observations per employee */

.title-observations-per-employee {
  text-align: left;
  font-family: "Comfortaa";
  font-size: medium;
  padding: 8px;
}

.table-observations-per-employee {
  text-align: center;
  font-family: "Comfortaa";
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 50%;
}

.table-observations-per-employee td, .table-observations-per-employee th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-observations-per-employee tr:nth-child(even){background-color: #f2f2f2;}

#table-observations-per-employee tr:hover {background-color: #ddd;}

.table-observations-per-employee th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: black;
  font-size: small;
}